<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="title-with-short-bar">
      <h2><%= title_section(t('our_services')) %></h2>
    </div>
    <div class="home-services-flex-box">
      <% @services.each do |service| %>
        <div class="home-service-box" title='<%= service.title.capitalize unless (service.nil? || service.title.nil?) %>' data-toggle="popover" data-trigger="hover" data-content='<%= service.content %>'>
          <%= cl_image_tag service.icon, height: '80' %>
          <p><%= (service.nil? || service.title.nil?) ? @no_translation : service.title.upcase %></p>
        </div>
        <script>
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
              html : true,
              });
          });
        </script>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2><%= title_section(t('catchment_area')) %></h2>
    <div class="map" style="background-image: url('<%= image_path "map.png"%>');">
    </div>
  </div>
</div>
