<div class="custom-navbar">
  <div class="navbar-left">
    <%= link_to root_path, class: 'logo' do %>
      <h1>MORGHEN BAT</h1>
      <span></span>
    <% end %>
    <i id="dropdown-menu-btn" class="fas fa-angle-down"></i>
  </div>
  <ul class="nav-list-small-screen">
    <li><%= link_to t('company').capitalize, root_path %>
    </li>
    <li class="nav-item-small-screen"><%= link_to t('realizations').capitalize, realizations_path %></li>
    <li class="nav-item-small-screen"><%= link_to t('your_project').capitalize, your_project_path %></li>
    <li class="nav-item-small-screen"><%= link_to t('contact').capitalize, contact_path %></li>
    <li class="nav-item-small-screen"><%= link_to t('commitments').capitalize, commitments_path %></li>
  </ul>

  <ul class="nav-list">
    <li class="nav-item" data-item-name="home">
      <div id='company-item'>
        <%= link_to t('company').capitalize, root_path %>
        <ul id="company-sub-categories">
          <li><%= t('know_how').capitalize %></li>
          <li><%= t('values').capitalize %></li>
          <li><%= t('localization').capitalize %></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-item-name="realizations"><%= link_to t('realizations').capitalize, realizations_path %></li>
    <li class="nav-item" data-item-name="your-project"><%= link_to t('your_project').capitalize, your_project_path %></li>
    <li class="nav-item" data-item-name="contact"><%= link_to "Contact", contact_path %></li>
    <li class="nav-item" data-item-name="commitments"><%= link_to t('commitments').capitalize, commitments_path %></li>
    <div class="language-choice">
      <li><%= link_to "Français", locale: "fr" %></li>
      <li><%= link_to "English", locale: "en" %></li>
      <li><%= link_to "Español", locale: "es" %></li>
    </div>
  </ul>
</div>
