<div class="container page page-contact" data-page-name="contact">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p><i class="fas fa-map-marker-alt"></i> <strong>Adresse: </strong>
      <br><%= @company_details.address %>
      <br><%= @company_details.postal_code %> <%= @company_details.city %>
      <br><%= @company_details.country_name.capitalize %></p>
      <br>
      <p><i class="fas fa-phone"></i> <strong>Téléphone: </strong>
      <br><%= @company_details.phone %></p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>Nous serions ravis de répondre à vos quesrions!</p>
      <%= simple_form_for @message do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :subject %>
        <%= f.input :content, as: :text %>
        <%= f.button :submit, value: 'Envoyer' %>
      <% end %>
    </div>
  </div>
</div>
