<div class="container dashboard-container">

<!-- Messages section -->
  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-messages">Messages (<span id="messages-count"><%= Message.where(read: false).count %>/<%= Message.count %></span>)<i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-messages">
    <% @messages.each do |message| %>
      <% if message.read %>
        <div class="row-message" id="message-<%= message.id %>" style="background-color: rgba(240,240,240,0.3)">
       <% else %>
        <div class="row-message" id="message-<%= message.id %>" style="background-color: rgba(255, 91, 91, 0.2)">
        <% end %>
        <p><%= message.created_at.strftime("%^b %d %Y at %I:%M%p") %></p>
        <p><%= message.name %></p>
        <p><%= message.subject %></p>
        <div>
          <%= link_to message_path(message), target: '_blank' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to message_path(message), remote: true, :method => :delete, :data => {:confirm => "Veux-tu vraiment supprimer ce message?"} do %><i class="fa fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-company-details">Coordonnées de l'entreprise <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-company-details">
    <h2>Coordonnées de l'entreprise</h2>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-landing">Landing Section <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-landing">
    <h2>Landing Section</h2>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-company-history">Histoire de l'entreprise <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-company-history">
    <h2>Histoire de l'entreprise</h2>
    <p><%= @company_history.content %></p>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-values">Nos valeurs <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-values">
    <h2>Nos valeurs</h2>
    <%= @company_values.each do |value| %>
      <div>
        <p><%= value.content %></p>
        <%= cl_image_tag value.icon %>
      </div>
    <% end %>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-know-how">Savoir faire <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-know-how">
    <h2>Savoir faire</h2>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-projects">Réalisations <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-projects">
    <h2>Réalisations</h2>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-offers">Notre offre <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-offers">
    <h2>Notre offre</h2>
  </div>

  <span href="#" class="btn-toggle-section-model" data-index-section-model="section-model-commitments">Nos engagements <i class="fas fa-arrow-down"></i></span>
  <div class="dashboard-section" id="section-model-commitments">
    <h2>Nos engagements</h2>
  </div>

</div>

<%= javascript_pack_tag 'dashboard' %>
