<div class="page" data-page-name="home">
  <div id="section-history" class="container section section-history">
    <%= render 'sections-home/history' %>
  </div>
  <div id="section-mission" class="section section-mission">
    <%= render 'sections-home/mission' %>
  </div>
  <div id="section-values" class="container section section-values">
    <%= render 'sections-home/values' %>
  </div>
  <div id="section-know-how" class="section section-know-how">
    <%= render 'sections-home/know_how' %>
  </div>
  <div id="section-localization" class="container section section-localization">
    <%= render 'sections-home/localization' %>
  </div>
</div>
