<div class="page" data-page-name="home">
  <div class="container section section-history">
    <%= render 'sections-home/history' %>
  </div>
  <div class="section section-mission">
    <%= render 'sections-home/mission' %>
  </div>
  <div class="container section section-values">
    <%= render 'sections-home/values' %>
  </div>
  <div class="section section-know-how">
    <%= render 'sections-home/know_how' %>
  </div>
  <div class="container section section-localization">
    <%= render 'sections-home/localization' %>
  </div>
</div>
