<div class="container page" data-page-name="home">
  <div class="section-landing">
    <%= render 'sections/landing' %>
  </div>
  <div class="section-history">
    <%= render 'sections/history' %>
  </div>
  <div class="section-values">
    <%= render 'sections/values' %>
  </div>
  <div class="section-know-how">
    <%= render 'sections/know_how' %>
  </div>
  <div class="section-localisation">
    <%= render 'sections/localization' %>
  </div>
</div>
