<div class="container page page-realizations" data-page-name="realizations">
  <div class="row">
    <% i = 0 %>
    <% @projects.each do |project| %>
    <% i += 1 %>
      <%= link_to project_path(project) do %>
        <div class="col-xs-6 col-md-3 col-project" style="background-image: url('<%= cl_image_path define_first_picture(project) %>');"  data-project-index="<%= i %>">
          <div class="project-details-hover-display" id="project-<%= i %>-details">
            <h3>
              <% if project.name.nil? %>
                <%= @no_translation %>
              <% else %>
                <%= project.name.upcase %>
              <% end %>
            </h3>
            <p>
              <% if project.category.nil? || project.location.nil? %>
                <%= @no_translation %>
              <% else %>
              <%= project.category.capitalize %> à <%= project.location.capitalize %>
              <% end %>
            </p>
          <!-- Project page in projects/show.html.erb -->
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
