<div class="page" data-page-name="your-project">
  <h1>Houses</h1>
  <ul>
    <% @houses.each do |house| %>
    <li><%= house.category %> - <%= house.name %></li>
    <% end %>
  </ul>

  <div class="value-card">
    <div class="value-icon">
    <%= image_tag "quality", height: '100' %>
    </div>
    <div class="value-name">
      QUALITÉ
    </div>
    <p class="value-description">
      Nous offrons une qualité 100% professionelles.
    </p>
  </div>
<br>
<br>
   <div class="value-card">
    <div class="value-icon">
    <%= image_tag "confidence", height: '100' %>
    </div>
    <div class="value-name">
      CONFIANCE
    </div>
    <p class="value-description">
      Nous suivons le projet de A à Z pour créer une relation durable avec vous.
    </p>
  </div>
<br>
<br>
   <div class="value-card">
    <div class="value-icon">
    <%= image_tag "ponctuality", height: '100' %>
    </div>
    <div class="value-name">
      PONCTUALITÉ
    </div>
    <p class="value-description">
      Nous livrons les projets dans les temps.
    </p>
  </div>

</div>
