<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Morghen Bat - Entreprise du bâtiment tout corps d'État</title>
    <meta name="description" content="Morghen Bat est une entreprise du bâtiment tout corps d’État. Depuis maintenant 20 ans, nous rénovons vos appartements et maisons avec passion car votre confort est notre priorité.">
    <meta name="keywords" content="Renovation, construction, batiment, renovation, construction maison, renovation maison, renovation appartement, renovation maison seine-saint-denis, renovation appartement seine-saint-denis, construction seine-saint-denis, renovation paris, renovation banlieue parisienne, renovation region parisienne">

    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="landing-mobile">
      <div class='logo'>
        <h1>MORGHEN BAT</h1>
        <span></span>
      </div>
      <h1>Site mobile en construction...</h1>
      <p>N'hésitez pas à consulter le site sur votre ordinateur !</p>
    </div>
    <%= render 'shared/navbar' %>
    <a href="#"><i id="scrollToTop" class="fa fa-arrow-circle-up"></i></a>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
